<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加文章</title>
</head>
<body>
<div style="text-align: center;">
    <form action="insertArticle" method="post">
        <br>
        标 题：<input type="text" name="title"/><br><br>
        内 容：<input type="text" name="detail"/><br><br>
        作 者：<input type="text" name="author"/><br><br>
        简 介：<input type="text" name="firstSentence"/><br><br>
        <input type="submit" value="提交"/>
        <a href="addData.html">返回</a>
    </form>
</div>
</body>
</html>