<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加挑战答题</title>
</head>
<body>
<div style="text-align: center;">
    <form action="insertChallengeQuestions" method="post">
        <br>
        题 目：<input type="text" name="title"/><br><br>
        选项A：<input type="text" name="optionA"/><br><br>
        选项B：<input type="text" name="optionB"/><br><br>
        选项C：<input type="text" name="optionC"/><br><br>
        选项D：<input type="text" name="optionD"/><br><br>
        答 案：<input type="text" name="answer1"/><br><br>
        <input type="submit" value="提交"/>
        <a href="addData.html">返回</a>
    </form>
</div>
</body>
</html>