<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加专项答题</title>
</head>
<body>
<div style="text-align: center;">
    <form action="insertSpecialQuestions" method="post">
        <br>
        题 目：<input type="text" name="title"/>
        题目类型：<input type="text" name="type"/><br><br>
        选 项 A：<input type="text" name="optionA"/>
        选 项 B：<input type="text" name="optionB"/><br><br>
        选 项 C：<input type="text" name="optionC"/>
        选 项 D：<input type="text" name="optionD"/><br><br>
        答 案 1：<input type="text" name="answer1"/>
        答 案 2：<input type="text" name="answer2"/><br><br>
        答 案 3：<input type="text" name="answer3"/>
        答 案 4：<input type="text" name="answer4"/><br><br>
        解 析：<input type="text" name="analysis"/>
        专 题：<input type="text" name="specialTitle"/><br><br>
        <input type="submit" value="提交"/>
        <a href="addData.html">返回</a>
    </form>
</div>
</body>
</html>